body {
    background-color: black;
    color:white;
    font-size:20px;
  }
  .formulario{
    display:flex;
    flex-direction: column;
    align-items:baseline;
  }
  
  form input {
    color:blue;
    font-size:15px;
  }
  
  div input{
    color:green
  }
  
  @keyframes animar{
    from{
      background-color:yellow;
      width:50px;
    } to{
      background-color:green;
      width:400px;
    }
  }
  input[type="submit"]{
  /*  animation-name:animar;*/
    animation-duration:5s;
    animation-iteration-count:infinite;
  }